.Container {
  display: flex;
  flex-direction: column;
}

.AppName {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 3px 6px 0 #555;
}

.SearchBox {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  border-radius: 6px;
  margin-left: 20px;
  width: 25%;
  background-color: yellow;
  justify-content: center;
}

.SB2 {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  border-radius: 6px;
  margin-left: 20px;
  width: 10%;
  background-color: greenyellow;
}

.SB3 {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  border-radius: 6px;
  margin-left: 20px;
  width: 10%;
  background-color: orange;
}

.RecipeImage {
  width: 36px;
  height: 36px;
  margin: 15px;
}

.Placeholder{
  width: 120px;
  height: 120px;
  margin: 200px;
  opacity: 50%;
}

.SearchInput {
  color: black;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-right: auto;
}

.RecipeListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  justify-content: space-evenly;
}

.RecipeContainer{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
  box-shadow: 0 3px 10px 0 #aaa;  
}

.CoverImage {
  object-fit: cover;
  height: 200px;
}

.RecipeName {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.IngredientsText {
  font-size: 18px;
  border: solid 1px green;
  margin-bottom: 12px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  color: green;
  text-align: center;
}

.SeeMoreText {
  font-size: 18px;
  border: solid 1px blue;
  margin-bottom: 12px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  color: blue;
  text-align: center;
}

.SeeNewTab {
  font-size: 18px;
  border: solid 1px green;
  color: green;
  margin-bottom: 12px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}